<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0 " />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main">
      <i id="#menu" class="ri-menu-line"></i>
      <div class="navbar">
        <div class="nav-left">
          <a href="/" id="brand"> { Go.Buddy } </a>
        </div>
        <div class="nav-right">
          <li><a href="/">Home</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="/signup">Login/Signup</a></li>
        </div>
      </div>
      <div class="hero">
        <div class="hero-left">
          <h1>{ Go.Buddy }</h1>
          <br />
          <br />
          <h3>
            Complete Guide for Tech skills with high quality courses.We provide
            Quality not Quantity
          </h3>
          <br />
          <h3>Trusted By our Students</h3>
          <button id="btn-hero">Let's get started</button>
        </div>
        <div class="hero-right">
          <img src="./images/index/illustration.png" alt="" />
        </div>
      </div>

      <div class="courses-section">
        <h1>Our Courses</h1>
        <div class="courses">
          <div class="course" id="dsa">
            <div class="course-left">
              <h4>Learn Data Structure & Algos with Java</h4>
              <div class="btn">Enroll Now</div>
            </div>
            <div class="course-right">
              <img src="./images/index/java.png" alt="" />
            </div>
          </div>
          <!-- <div class="course" id="python">
            <div class="course-left">
              <h4>Web Development with Django</h4>
              <div class="btn">Enroll Now</div>
            </div>
            <div class="course-right">
              <img src="./images/index/python.png" alt="" />
            </div>
          </div>
          <div class="course" id="node">
            <div class="course-left">
              <h4>Web Develoment with Node.js</h4>
              <div class="btn">Enroll Now</div>
            </div>
            <div class="course-right">
              <img src="./images/index/js.png" alt="" />
            </div>
          </div> -->
        </div>
      </div>

      <div class="section-1">
        <div class="section-1-left">
          <h4>Popular Ask Questions</h4>
          <div class="text-1">
            <h1>Don't know where to start from ?</h1>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Temporibus consectetur repudiandae harum quae aliquam
              exercitationem qui soluta nemo earum ipsa.
            </p>
            <button id="btn-view">View more</button>
          </div>
        </div>
        <div class="section-1-right">
          <img src="./images/index/dont.png" alt="" />
        </div>
      </div>

      <div class="section-2">
        <div class="section-2-right">
          <div class="image">
            <img src="/images/files/girlboy.png" alt="" />
          </div>
        </div>
        <div class="section-2-left">
          <div class="text-1">
            <h1>
              What makes { Go.Buddy } <br />
              makes unique
            </h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatem enim maxime necessitatibus dolor, saepe cumque in
              laborum voluptates nam doloremque molestias inventore dolorum quis
              autem asperiores voluptate adipisci aut quos amet. Non excepturi
              inventore repellendus similique velit dolor vitae distinctio!
            </p>
          </div>
        </div>
      </div>
      <div class="section-4">
        <div class="text-4">
          <h1>Our Students serving at MNC's</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
            dicta debitis tempore sequi illo earum. Debitis expedita voluptas
            aspernatur necessitatibus, perferendis odio a sunt quo?
          </p>
          <div class="text-4-images">
            <img
              src="https://web.learncodeonline.in/_next/image?url=%2FAssets%2Fbrand-logo%2FZomato-logo%402x.png&w=256&q=75"
              alt=""
            />
            <img
              src="https://web.learncodeonline.in/_next/image?url=%2FAssets%2Fbrand-logo%2Fpaypal%402x.png&w=256&q=75"
              alt=""
            />
            <img
              style="margin-left: '3w'"
              src="https://web.learncodeonline.in/_next/image?url=%2FAssets%2Fbrand-logo%2FWipro-logo%402x.png&w=256&q=75"
              alt=""
            />
            <img
              src="https://web.learncodeonline.in/_next/image?url=%2FAssets%2Fbrand-logo%2Finfosys%402x.png&w=256&q=75"
              alt=""
            />
            <img
              style="margin-left: '2w'"
              src="https://web.learncodeonline.in/_next/image?url=%2FAssets%2Fbrand-logo%2Fzoho-logo%402x.png&w=256&q=75"
              alt=""
            />
            <img
              src="https://web.learncodeonline.in/_next/image?url=%2FAssets%2Fbrand-logo%2FCRED-LOGO2%402x.png&w=256&q=75"
              alt=""
            />
            <img
              style="margin-left: '1.2w'"
              src="https://web.learncodeonline.in/_next/image?url=%2FAssets%2Fcollage-logo%2Fuc-berkeley%20removebg%402x.png&w=256&q=75"
              alt=""
            />

            <img
              style="margin-left: '1.2w'"
              src="https://web.learncodeonline.in/_next/image?url=%2FAssets%2Fcollage-logo%2Fbits-pilani-removebg%402x.png&w=256&q=75"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="section-3">
        <h1>People's Love us</h1>
        <p class="sec3p">
          People love to learn code from LCO. People from following
          companies/universities are registered with us and are active learners
        </p>
        <br />
        <div class="section-3-container">
          <div class="card">
            <div class="cardup">
              <div class="photo">
                <img
                  src="https://images.unsplash.com/photo-1529470839332-78ad660a6a82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
                  alt=""
                />
              </div>
              <div class="info">
                <h3>Lina Watson</h3>
                <h6>BY CSJM UNIVERSITY, DURBAN</h6>
              </div>
            </div>
            <div class="carddown">
              <p>
                The most one of the positive aspect that why we should choose
                LCO because of gaining the precious knowledge with low cost and
                there is a good support on the question we asked in discussions.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="cardup">
              <div class="photo">
                <img
                  src="https://images.unsplash.com/photo-1529470839332-78ad660a6a82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
                  alt=""
                />
              </div>
              <div class="info">
                <h3>Lina Watson</h3>
                <h6>BY CSJM UNIVERSITY, DURBAN</h6>
              </div>
            </div>
            <div class="carddown">
              <p>
                The most one of the positive aspect that why we should choose
                LCO because of gaining the precious knowledge with low cost and
                there is a good support on the question we asked in discussions.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">
        <div id="footerbox">
          <div class="leftfooter">
            <div class="logo">
              <h1>{ GO.BUDDY }</h1>
            </div>
            <p>
              Go.Buddy - Quality content at affordable pricing. Home for
              programmers. Video Courses on latest tech in easy understandable
              language
            </p>
            <h3>Copyright &#169;2022 All rights reserved</h3>
          </div>
          <div class="rightfooter">
            <div class="r1">
              <h1>Products</h1>

              <a href="">UI color picker</a>
              <a href="">Resume Builder</a>
              <a href="">Paymentr App</a>
              <a href="">API Playground</a>
            </div>
            <div class="r1">
              <h1>Company</h1>
              <a href="">Contact</a>
              <a href="">Login/Signup</a>
              <a href="">Terms of Service</a>
              <a href="">Privacy Policy</a>
              <a href="">Pricing Policy</a>
              <a href="">Refund Policy</a>
            </div>
            <div class="r1">
              <h1>Resources</h1>
              <a href="">courses</a>
              <a href="">Crash courses</a>
              <a href="">Bundle courses</a>
              <a href="">Free Courses</a>
              <a href="">Help & Support</a>
            </div>
            <div class="r1">
              <h1>Social</h1>
              <a href="">Youtube</a>
              <a href="">Instagram</a>
              <a href="">Linkedin</a>
              <a href="">Facebook</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var flag = false;
      document
        .querySelector(".ri-menu-line")
        .addEventListener("click", function (dets) {
          if (flag === false) {
            document.querySelector(".nav-right").style.display = "block";
            flag = true;
          } else {
            flag = false;
            document.querySelector(".nav-right").style.display = "none";
          }
        });
    </script>
  </body>
</html>
