<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main">
      <div class="signupcard">
        <div class="signuptext">
          <h1 onclick="location.href='/'" style="cursor: pointer">
            { Go.Buddy }
          </h1>
          <h2>Reset your Password</h2>
          <a href="/signup"><h3>Don't have an account ?</h3></a>
        </div>
        <form
          action="/resetpassword/<%=user%>"
          method="post"
          style="height: 23vw"
        >
          <label for="password">
            New Password <br />
            <input
              type="password"
              name="newpassword"
              autoComplete="off"
              class="newpassword"
              required
            />
          </label>
          <label for="password">
            Confirm Password <br />
            <input
              type="password"
              autoComplete="off"
              name="confirmpassword"
              required
              class="confirmpassword"
            />
          </label>
          <i id="toggle" class="ri-eye-line"></i>

          <br />
          <button
            id="btn-signup"
            onclick="location.href=`/resetpassword/<%=user._id%>`"
            type="submit"
          >
            Reset Password
          </button>
        </form>
      </div>
    </div>
    <script>
      const toggle = document.querySelector("#toggle");
      const password = document.querySelector(".password");
      const form = document.querySelector("form");
      const confirmpassword = document.querySelector(".confirmpassword");
      const newpassword = document.querySelector(".newpassword");

      toggle.addEventListener("click", function (dets) {
        const type =
          password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        this.classList.toggle("ri-eye-off-line");
      });

      form.addEventListener("submit", function (dets) {
        if (newpassword.value !== confirmpassword.value) {
          dets.preventDefault();
          return alert("Passwords do not match ");
        }
      });
    </script>
  </body>
</html>
